body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #ff5757;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.nav-bar {
  position: fixed;
  list-style-type: none;
  margin-left: 100px;
}

li {
  font-size: 1.5em;
  display: inline-block;
  margin-right: 100px;
  opacity: 0.9;
}

a {
    text-decoration: none;
    color: rgb(5, 5, 5);
  }

a:hover {
  color: grey;
  transition: all 0.2s ease 0s; 
  -webkit-transition: all 0.2s ease 0s; 
}


.title {
  position: fixed;
  bottom: 0;
  left: 0;
  width: clamp(250px, 110vw, 55vw);
  height: auto;
  z-index: 9999;
  pointer-events: none;
  opacity: 0.9;
  margin-bottom: -0.5em;
}

.line {
  position: fixed;
  height: 100%;
  top: -200px;
  right: -500px;
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.center-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.submitButton {
    font-size: 16px;
    width: 40%;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: gray;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1px;
  border-radius: 10px;
  align-items: center;
}

.form input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(239, 235, 235);
}

@media screen and (max-width: 500px) {

  .nav-bar {
    font-size:2em;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    margin:150px 0px 0px 10px;
    display: flex;
    flex-direction: column;
    z-index: 1000;
  }

  .nav-bar li {
    display: block;
    margin-bottom: 70px;
    font-size: 1.2em;
  }
}